<div class='search'>
  <input class='search-input' type='text' [formControl]='locationControl' placeholder='Search for location'>
</div>
<div *ngIf="locationControl.value!==''">
  <div class='container' *ngIf='weatherData$|async as weatherData'>
    <div class='weather-card'>
      <p class='weather-card__title'><b>Weather</b> {{weatherData.location.name}}</p>
      <app-divider></app-divider>
      <div class='weather-data'>
        <div class='weather-data__degrees'>{{weatherData.current.temperature}}&deg;C
        </div>
        <div class='sunny'></div>

      </div>
      <div class='weather-prognosis'></div>

    </div>

  </div>
</div>
