<div class='search'>
  <input class='search-input' type='text' [formControl]='locationControl' placeholder='Search for location'>
</div>
<ng-container *ngIf="locationControl.value!==''">
  <div class='' style='width: 18rem' *ngIf='currentWeather$|async as data'>
    <div class='m-2'>{{data.location}}</div>
    <div class=' d-flex justify-content-between'>
      <div class='weather-data__degrees'>{{data.temperature}}&deg;C
      </div>
      <div class='{{getIconClass(data.description)}}'></div>

    </div>
    <div class=''>
    </div>
  </div>
</ng-container>

<ng-container *ngIf='forecast$|async as data'>
  {{data|json}}
</ng-container>

