<div class="flex justify-center mt-3">
  <div class="relative">
    <label for="name" class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900">Location</label>
    <input [formControl]="locationControl" type="text" name="name" id="name"
           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
           placeholder="e.g. Vienna">
  </div>
</div>

<ng-container *ngIf="currentWeather$|async as data">
  <dl class="m-3 grid grid-cols-1 gap-5 sm:grid-cols-3">
    <div *ngFor="let day of data">
      <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">{{ day.time|date }}</dt>
        <dd class="mt-1  tracking-tight text-gray-900">Temperature: {{day.values.temperatureAvg|number:'1.0-0'}}</dd>
      </div>
    </div>
  </dl>
</ng-container>
