.search {
  display: flex;
  justify-content: center;

  &-input {
    border: none;
    border-bottom: 1px solid lightgrey;
    outline: none;
    transition: all 1s ease;
  }
}

.container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.weather-card {
  flex: 1;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  border: solid lightgrey 0.1rem;
  border-radius: 1rem;
  background-color: #eae7e7;

  &__title {
    margin: 1rem;
  }
}

.weather-data {
  display: flex;
  justify-content: space-between;
  font-size: 5rem;
  margin: 1rem;

  &__degrees {
    color: black;
    font-size: 3rem;
  }

  &__icon {
    img{
      background-color: inherit;
    }
  }
}

.sunny {
  width: 100px;
  height: 100px;
  background-image: url('../../../assets/weather-icons/sunny.svg');
  background-size: contain; /* or 'cover' depending on your needs */
}

.cloudy {
  width: 100px;
  height: 100px;
  background-image: url('../../../assets/weather-icons/cloud.svg');
  background-size: contain; /* or 'cover' depending on your needs */
}

.rainy {
  width: 100px;
  height: 100px;
  background-size: contain; /* or 'cover' depending on your needs */
  background-image: url('../../../assets/weather-icons/rainy.svg');
}

input {

}

input:focus::placeholder {
  margin-left: 10pc;
  transform: scale(1.1); /* Slightly increase the size */
  opacity: 0.7; /* Make it slightly transparent to emphasize the effect */
}
