/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Droid Serif", serif;
  font-size:1rem;
}
.container{
  margin:10rem
}

.d-flex{
  display: flex;
}

