<div class="flex items-center justify-center">
  <div class="flex w-[calc(100vw-3rem)] h-[calc(100vh-3rem)] m-6 border border-black rounded  ">
    <div class="flex flex-col font-sans font-thin m-6 gap-20 basis-3/12">
      <section>
        <header class="text-5xl text-gray-800">Sokrates Metallides</header>
        <p class="mt-5 ml-1 text-2xl ">Designer & Web Developer</p>
      </section>
      <section class="ml-10 w-28 pr-5 border-r">
        <nav class="flex flex-col gap-2">
          <div *ngFor="let link of links; let i = index" class="flex items-center gap-1 ease-in duration-300">
            <span [@fadeInOut] *ngIf="selectedIndex === i" class="w-2 h-2 inline-block bg-black "></span>
            <a routerLink="/{{link}}" (click)="selectLink(i)"
               class="hover:underline underline-offset-4">{{ link |titlecase}}</a>
          </div>
        </nav>
      </section>
    </div>
    <div class="basis-9/12">
      <router-outlet></router-outlet>
      <div
        class="opacity-{{selectedIndex===0?1:0}} transition-opacity duration-500 text-sm font-light w-48 absolute bottom-28 right-28">
        Born in Kavala, Greece. Elegant design,
        Clean code whispers in each line,
        Art and logic shine.
        <div class="mt-1">Pursuing the golden strike between the two.</div>
      </div>
    </div>
  </div>
</div>
